name: Generate SBOM

on:
  push:
    branches: [ "main" ]
  release:
    types: [created]

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: dom, json, libxml
          tools: composer:v2

      # We manually install the plugin to ensure the command is available 
      # and trusted before the Action runs.
      - name: Install CycloneDX Plugin
        run: |
          composer global config allow-plugins.cyclonedx/cyclonedx-php-composer true
          composer global require cyclonedx/cyclonedx-php-composer

      - name: Generate SBOM
        uses: CycloneDX/gh-php-composer-generate-sbom@v1
        with:
          # If your composer.json is NOT in the root, uncomment the line below:
          # path: ./my-sub-folder
          args: "--output-format=JSON --output-file=bom.json"
